@model YelCreative.Models.SkillViewModel

<!-- Start Card -->
<div class="row">
    @if (ViewBag.SkillList != null)
    {
        foreach (var item in ViewBag.SkillList)
        {
            <div class="col-lg-3 pt-3">
                <div class="card">
                    <div class="card-body">
                        <input type="hidden" id="HiddenId" />
                        <h5 class="card-title">@item.Skill_Name</h5>
                        <h5>@item.Skill_Value %</h5>
                        <div class="progress">
                            <div class="progress-bar" style="width: @item.Skill_Value%" role="progressbar" aria-valuenow="@item.Skill_Value" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="float-right pt-3">
                            <button id="btnEdit"
                                    data-toggle="modal"
                                    data-target="#ModalEditSkill"
                                    data-id="@item.Id_Skill"
                                    data-skill="@item.Skill_Name"
                                    data-value="@item.Skill_Value"
                                    type="button"
                                    title="Edit"
                                    class="btn btn-warning">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button"
                                    title="Delete"
                                    onclick="DeleteSkill(@item.Id_Skill)"
                                    id="btnDelete"
                                    class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
<!-- End Card -->