@model YelCreative.Models.PortofolioViewModel

<div class="lightBoxGallery">
    <div class="row">
        @if (ViewBag.PortoList != null)
        {
            foreach (var item in ViewBag.PortoList)
            {
                <div class="col-md-2 col-sm-2 pb-3">
                    <div class="card">
                        <input type="hidden" id="HiddenId" value="@item.Id_Portofolio" />
                        <img class="card-img-top" src="@item.ImagePath" title="@item.Title" style="object-fit:cover; object-position:center; width:auto; height:100px;">
                        <div class="card-footer">
                            <div class="row justify-content-center">
                                <div class="col-xs-4">
                                    <a href="@item.ImagePath" title="@item.Title" data-gallery="" class="btn btn-primary btn-block"><i class="fa fa-eye"></i></a>
                                </div>
                                <div class="col-xs-4 pl-2 pr-2">
                                    <button type="button" title="Edit" class="btn btn-warning btn-block" data-id="@item.Id_Portofolio" data-imgs="@item.ImageTitle" data-title="@item.Title" data-category="@item.Category" data-toggle="modal"
                               data-target="#ModalPortoEdit">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" title="Delete" id="btnDelete" onclick="DeletePorto(@item.Id_Portofolio)" class="btn btn-danger btn-block">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
    </div>
</div>