@model YelCreative.Models.ProfileViewModel

<div class="col-md-8 p-0">
    <div class="col-md-12 pb-3">
        <div class="tabs-container">
            <ul class="nav nav-tabs" role="tablist">
                <li><a class="nav-link active" data-toggle="tab" href="#tab-1"> Update Profile</a></li>
                <li><a class="nav-link" data-toggle="tab" href="#tab-2">Update Picture</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <form id="FormProfile">
                            <!-- start form -->
                            <div class="form-group  row">
                                <label class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    @Html.HiddenFor(model => model.Id_User)
                                    @Html.TextBoxFor(model => model.Full_Name, new { @class = "form-control mt-2", @placeholder = "Name" })
                                    @Html.ValidationMessageFor(model => model.Full_Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Position</label>
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.Id_Role, ViewBag.SelectRole as SelectList, "-- select --", new { @class = "form-control", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.Id_Role, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group  row">
                                <label class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control mt-2", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.password, new { @class = "form-control mt-2", @type = "password", placeholder = "password" })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!-- end form -->
                            <button class="btn btn-primary btn-block" id="btnUpdateProfile">Update</button>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <form id="FormImage">
                            @Html.HiddenFor(model => model.Id_User, new { @id="CurrentIdUser"})
                            <div class="custom-file">
                                @Html.TextBoxFor(model => model.ImageUpload, new { type = "file", @class = "custom-file-input" })
                                <label for="logo" id="fileChooser" class="custom-file-label">Choose file...</label>
                                @Html.ValidationMessageFor(model => model.ImageUpload, "", new { @class = "text-danger" })
                            </div>
                            <div class="hr-line-dashed"></div>
                            <button class="btn btn-primary btn-block" id="btnUpdateImage">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>